<head> <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
       crossorigin="anonymous"></script></head>
<h1>Bienvenue!</h1>

<!DOCTYPE html>
<html>
<body>
{% for article in derniers_articles %}
    <div class="article">
    	<h3>{{ article.nomArticle }}</h3>
        <h3>{{ article.contenuArticle }}</h3>
        <p><a href="{% url 'lire' article.refArticle %}">Lire la suite</a></p>
    </div>

{% empty %}
    <p>Aucun article.</p>
{% endfor %}

    {% if sauvegarde %}
        <p>Photo enregistrée</p>
    {% endif %}

   
        <form method="post" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit"/>
        </form>
    

    <h1>Liste des photos</h1>
    {% for photos in photos %}
        <h2>{{ photos.refPhoto }}</h2>
            <img src=" {{ photos.photos.url }}"/>
    {% endfor %}




</body>
</html>